.search-block {
  max-width: 1280px;
  margin: 70px auto 48px;
}

@media (max-width: 768px) {
  .search-block {
    margin: 79px auto 0;
  }
}

@media (max-width: 425px) {
  .search-block {
    padding: 0 14px;
    margin: 84px auto 0;
  }
}

.search-form {
  display: flex;
  flex-direction: column;
}

.search-form__block {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #424242;
  padding: 0 0 13px;
}

@media (max-width: 425px) {
  .search-form__block {
    padding: 0 0 9px;
  }
}

.search-form__input {
  color: #8b8b8b;
  background: transparent;
  border: none;
  outline: none;
  font-size: 28px;
  font-weight: 500;
  line-height: normal;
  width: 100%;
  cursor: pointer;
}

@media (max-width: 425px) {
  .search-form__input {
    font-size: 18px;
  }
}

.search-form__input:focus {
  background: #252525;
}

.search-form__btn {
  background: url(../../images/find.svg) center no-repeat;
  max-width: 80px;
  width: 100%;
  height: 34px;
  border: none;
  cursor: pointer;
}

.switch {
  display: flex;
  align-items: center;
  padding: 30px 0 0;
}

@media (max-width: 768px) {
  .switch {
    justify-content: right;
  }
}

@media (max-width: 425px) {
  .switch {
    justify-content: center;
    padding: 40px 0 0;
  }
}

.switch-text {
  margin: 0 0 0 14px;
  padding: 0;
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
}

@media (max-width: 768px) {
  .switch-text {
    order: -1;
    margin: 0 16px 0 0;
  }
}

@media (max-width: 425px) {
  .switch-text {
    font-size: 11px;
  }
}

.switch-label {
  cursor: pointer;
  width: 36px;
  height: 20px;
  background: #343434;
  display: block;
  border-radius: 20px;
  position: relative;
}

.switch-label:after {
  content: "";
  position: absolute;
  top: 2px;
  left: 3px;
  width: 15px;
  height: 15px;
  background: #fff;
  border-radius: 50%;
  transition: 0.3s;
}

.switch-input {
  height: 0;
  width: 0;
  visibility: hidden;
}

.switch-input:checked + .switch-label {
  background: #2be080;
}

.switch-input:checked + .switch-label:after {
  left: calc(100% - 3px);
  transform: translateX(-100%);
}

